@import url('https://fonts.googleapis.com/css?family=Ultra');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	text-decoration: none;

}

html, body {
	height: 100%;
	width: 100%;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;

}

#root {
	//
	background: url('../resourses/bg_image.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding-top: 40px;
	padding-bottom: 40px;
}

.container {
	min-height: 80%;
	width: 100%;
	max-width: 1100px;
	//background-color: antiquewhite;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 6px 17px -9px rgba(0, 0, 0, 0.8);
	background-color: rgba(0, 0, 0, 0.72);
}

.header {
	height: 4rem;
	border-radius: 20px 20px 0 0;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.31);
	justify-content: space-between;
	background: rgb(165,242,232);
	background: radial-gradient(circle, rgba(165,242,232,1) 0%, rgba(196,231,240,1) 100%);

	.logo {
		font-size: 1.5rem;
		font-weight: 300;
		font-family: 'Ultra', serif;
		color: #101b31;
		text-decoration: none;

		&::first-letter {
			color: #ff4346;
		}
	}
	.nav {

		display: inline-flex;


	}

	.header-ico {
		margin-left: 5px;
		display: flex;
		align-items: center;

	}
}

.content {
	border-radius: 0 0 20px 20px;

	box-sizing: padding-box;
	padding: 20px;

	.catalog-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 3rem;
		margin-bottom: 20px;
		//background-color: rgba(246, 246, 246, 0.05);
		padding: 5px 20px 5px 20px;
		box-sizing: border-box;
		//border-radius: 10px;
		//border-bottom: 1px solid rgba(255, 255, 255, 0.24);

		.catalog-header__left {
			font-size: 2rem;
			font-family: 'Poiret One', cursive;
			color: rgba(207, 207, 207, 0.75);
		}
	}
}

.search-field {
	height: 30px;
	display: flex;
	align-items: center;
	margin-left: 10px;
	position: relative;

	#clear-input{
		width: 20px;
		height: 20px;
		background: url("../resourses/search-clear.png") no-repeat center center;
		cursor: pointer;
		pointer-events: auto;
		display: none;
		margin-right: 5px;
	}
}

.search-in  {
	border-radius: 50px;
	height: 35px;
	width: 35px;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgba(207, 207, 207, 0.75);
	cursor: pointer;
	transition: all, .3s;
	background-color: #f6f6f6;
	background: url("../resourses/search-engine.png") no-repeat center center;
	&::placeholder {
		color: rgba(246, 246, 246, 0);
		text-shadow: 0 0 0 rgba(35, 35, 35, 0);
	}

	& .search-field {

		display: none;
	}

	&:focus {
		outline: 0;
	}
}

.animate-in  {
	border-radius: 30px;
	height: 30px;
	width: 250px;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgba(207, 207, 207, 0.75);
	cursor: pointer;
	padding: 5px 5px 5px 15px;
	color: #f6f6f6;
	font-size: 1rem;
	transition: display 0.2s linear;
	//text-shadow: 1px 1px 0px rgb(35, 35, 35);
	background-image: none;
	& .search-field {

		display: block;
		color: #f6f6f6;
		font-size: 1rem;
		height: 25px;
		width: 225px;
		background-color: rgba(0, 0, 0, 0);
		border: 0;

		&:focus {
			outline: 0;
		}
	}

	&::placeholder {
		color: rgba(246, 246, 246, 0.67);
		text-shadow: 0px 0px 0px rgba(35, 35, 35, 0);
	}
	&:focus {
		outline: 0;
	}


}
